body {
    background-color: #cce3da;
    font-size: 14px;
    line-height: 1.5;
}

.welcome-title {
    font-size: 32px;
    color: black;
    text-align: center;
}

.welcome-text {
    text-align: center;
    font-size: 18px;
}

.login {
    margin: 100px auto;
    width: 300px;
}

.login-input-label {
    font-weight: bold;
    text-align: left;
}

.login-input-field {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.login-button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #29a65a;
    border: 0 none;
    cursor: pointer;
    border-radius: 10px;
}
